<%- include('component/header') %>

  <body>

    <div class="container pt-3" id="form">
      <%- include('component/navbar') %>
        <h1>Створіть свою нотатку</h1>

        <form class="form-inline mb-3" action='/createform' method="POST">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Назва нотатки</label>
            <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Текст нотатки</label>
            <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button class="btn btn-primary mt-3" type="submit" id="create">Створити</button>
        </form>
    </div>
    <script src="createForm.js"></script>
  </body>

  </html>
