<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 my-3" >
    <a class="navbar-brand" href="#">Notes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
          <% if ( isCard ) { %>
        <li class="nav-item">
          <a class="nav-link  active" href="/cardList">Список нотаток</a>
        </li>
        <% } else { %>        
        <li class="nav-item">
            <a class="nav-link" href="/cardList">Список нотаток</a>
          </li>
        <% } %>
        <% if ( isForm ) { %>
        <li class="nav-item">
            <a class="nav-link  active" href="/createForm">Створити нотатку</a>
          </li>
          <% } else { %>        
        <li class="nav-item">
            <a class="nav-link" href="/createForm">Створити нотатку</a>
          </li>
        <% } %>

       
    </ul>
    </div>
  </nav>